.footer{
    background-color: #606C38;
    color: #FEFAE0;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.img-footer{
    width: 150px;
    height: 200px;
}
