.header{
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #727272;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    color: #FEFAE0;
    z-index: 1000;
    .logo{
        width: 90px;
    }
}

.navbar-nav .nav-link.active {
    color: var(--bs-nav-link-color);
}

.border-boton{
    border: 1px solid #FEFAE0;
}

/*background-color: #bc6b25e8;*/

.color-cantidad{
    color: white;
    font-size: medium;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0rem;
    --bs-nav-link-padding-y: 0.5rem;
} 

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x); 
        padding-left: 0.5rem; 
    }
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
            transition: none;
    }
}
.navbar-nav .nav-link.active:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: var(--bs-nav-link-color);
}
.nav-link:focus-visible {
    outline: 5;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}




