.header{
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #bc6b25e8;
    padding: 5px;
    text-align: center;
    color: #FEFAE0;
    z-index: 1000;
    .logo{
        width: 90px;
    }
}

.color-cantidad{
    color: white;
    font-size: medium;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.3rem;
} 

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x); 
        padding-left: 0px; 
    }
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
            transition: none;
    }
}
.nav-link:hover{
    color: var(--bs-nav-link-hover-color);
    text-decoration: underline;
    text-decoration-color: var(--bs-nav-link-color);
}
.nav-link:focus-visible {
    outline: 5;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}




