.productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3.5rem;
    background-color: #d3d1d1;
}


.producto-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    /*border: 1px solid #7cb744fa;*/
    width: 250px;
    text-align: center;
    row-gap: 10px;
    color: #283618;
    box-shadow: 0 2rem 4rem rgba(10, 7, 7, 0.589);
    h1{
        font-size: 1.5rem;
    }
    p{
        font-weight: 500;
    }
    button{
        margin-bottom: 1rem;
    }
}

.producto-image{
    width: 250px;
    height: 300px;
    border: 1px solid #7cb744fa;
}
